.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: white;
  border-bottom: 1px solid #eee;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 70px;
}

.company-text h2 {
  font-size: 20px;
  margin: 0;
  color: #1a7f4b;
  font-weight: 700;
}

.company-text span {
  font-size: 12px;
  color: gray;
}

/* RIGHT */
.nav-right a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-right a:hover {
  color: #1abc9c;
}

.apply-btn {
  background: #1abc9c;
  color: white !important;
  padding: 8px 15px;
  border-radius: 4px;
}
