.topbar {
  background: #0f2c3f;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
  font-size: 14px;
  align-items: center;
}

.topbar-left,
.topbar-right {
  display: flex;
  gap: 25px;
  align-items: center;
}

.topbar span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.social-icons svg {
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s;
}

.social-icons svg:hover {
  color: #1abc9c;
}

@media (max-width: 768px) {
  .topbar {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }
}
